@{
    ViewData["Title"] = "Lessons - Pinpoint Education";
}

<h1>Lessons</h1>
<p>Explore topics across multiple subjects:</p>
<ul>
    <li><a href="/Lessons/Math">Math</a></li>
    <li><a href="/Lessons/Reading">Reading</a></li>
    <li><a href="/Lessons/Logic">Logic</a></li>
</ul>
